<div class="questionBox">
    <ul class="innerQuestionBox col-xs-10">
        <li class="centerQuestionBox" ng-repeat="question in questions">

            <profile-id-page class="profile-detail" ng-hide="showProfile"></profile-id-page>

            <div class="col-xs-1 centerQuestionBoxLeft">
            <a href ng-click="showProfile = ! showProfile"><img src="{{question.photo}}"></a>
                <span>ASKED</span>
            </div>
            <div class="col-xs-9 centerQuestionBoxMiddle">
                <div class="centerQuestionBoxMiddleTop">
                    <span>{{question.name}}<span> IS ASKING:</span></span>
                    <span class="itallic">
                        <a href ng-click="singleQuestion = ! singleQuestion">{{question.askedQuestion}}</a>
                    </span>
                    <single-question ng-hide="singleQuestion"></single-question>
                </div>
                <div class="centerQuestionBoxMiddleBottom">
                    <ul>
                        <li ng-repeat="canda in candafillterd = (commentAndAnswear |filter: question.id | limitTo:4)">
                            <div class="answearPost">
                                <profile-id-page-2 class="profile-detail" ng-hide="showProfile2"></profile-id-page-2>
                                <a href ng-click="showProfile2 = ! showProfile2"><img src="{{canda.photo}}"></a>
                                <div class="showTypeStyle">{{canda.type}}</div>
                            </div>
                        </li>
                        <li ng-show="showmoreactivite">
                            <div class="answearSum">
                                <div class="alignCenterLenght">{{(commentAndAnswear |filter: question.id).length -4}}</div>
                                <div class="showMoreStyle">
                                    more activities
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2 centerQuestionBoxRight">
                <div><span>2 </span><span>related discussions</span></div>
                <div><span>10 </span><span>peers involved</span></div>
                <div><span>5 </span><span>conversations</span></div>
            </div>
        </li>
    </ul>
</div>
