<div id="showProfile"  class="profile-detail" ng-hide="showProfile2">
    <div><a href ng-click="showProfile2 = ! showProfile2">X</a></div>
    <div>
        <div>
            <img src="{{canda.photo}}" alt="{{canda.name}}">
        </div>
        <div>
            {{canda.name}}
        </div>
    </div>
    <div ng-repeat="info in userProfile | filter: {profileid: canda.profileid }">
        <div>
            MEMBER FOR: {{info.signUpDate}} Months
        </div>
        <div>
            LAST SEEN: {{info.lastseen}} day/days
        </div>
        <div>
            ACTIVITY LEVEL {{info.activityLevel}}/3
        </div>
    </div>
    <div ng-repeat="info in userProfile | filter: {profileid: canda.profileid }">
        <div>
            <button>left</button>
            <span>How it all started</span>
            <button>right</button>
        </div>
        <div>THAT'S WHAT WE HAVE BEEN THESE {{info.signUpDate}} MONTHS AGO</div>
        <div>
            <div>{{info.peers}} peers</div>
            <div>{{info.discussions}} disccusions</div>
            <div>{{info.findings}}findings</div>
            <div>{{info.questions}}questions</div>
        </div>
        <div>
            <span>WHO JOINED THE PLATFORM THAT SAME PERIOD</span>
            <ul ng-repeat="">
                <div><img></div>
                <span>name</span>
            </ul>
        </div>
        <div>
            <span>THE HOTTEST DISCUSSION THESE DAYS</span>
            <img src="" alt="">
            <span>name FOUND THE GUARDIAN ARTICLE</span>
            <span>question</span>
            <div>
                <span>count peers involved</span>
                <span>related discussion</span>
                <span>conversations</span>
                <span>upvotes</span>
            </div>
        </div>
    </div>
</div>