body {
    font-family: Oswald, Lato, Roboto;
}

header{
    position: absolute;
    min-height: 10vh;
    width: 100%;

    display: flex !important;
    flex-direction: row;
}

header > div {
    margin: auto;
}

main {
    padding-top: 10vh;

    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.questionStyle {
    font-size: x-large;
}

.inputBoxStyle {
    width: 100%;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
    flex-flow: row;
}

.headerRight {
    display: flex;
    flex-flow: row;
}

.columnFlex {
    display: flex;
    flex-flow: column;
}



.centerQuestionBox {
    display: flex;

}