body {
    font-family: Oswald, Lato, Roboto;
}

header{
    position: absolute;
    min-height: 10vh;
    width: 100%;

    background-color: white;

    display: flex !important;
    flex-direction: row;
}

header > div {
    margin: auto;
}

main {
    padding-top: 10vh;


    background-color: #ffe1ad;


    display: flex;
    justify-content: center;
}

.backButton {
    background-image: url('../images/Backbutton.png');
    height: 42px;
    background-repeat: no-repeat;
    background-size: 42px 42px;
    background-position: center;
}

.addingButton {
    background-image: url('../images/addingbutton.png');
    height: 26px;
    width: 26px;
    background-repeat: no-repeat;
    background-size: 26px 26px;
}

.questionBox {
    display: flex;
    justify-content: center;
    margin: 0 5vw 5vh 5vw;
    background-color: #fbfbfb;
    min-height: 85vh;
    min-width: 90vw;
}

.innerQuestionBox {
    background-color: white;
}

.flex {
    display: flex;
}

.questionStyle {
    font-size: x-large;
}

.inputBoxStyle {
    width: 100%;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
    flex-flow: row;
}

.headerRight {
    display: flex;
    flex-flow: row;
}

.columnFlex {
    display: flex;
    flex-flow: column;
}


