
.centerQuestionBox {
    display: flex;

    height: 46vh;

    margin-bottom: 4vh;

    background-color: grey;
}

.centerQuestionBoxLeft {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: #dff3fd;

    font-size: 1vw;
}

.centerQuestionBoxLeft {

}

.centerQuestionBoxLeft a {
    align-self: flex-start;

    margin: 2vh auto;
}

.centerQuestionBoxLeft a img {

    max-height: 7.5vh;
    width: 7.54vh;

    border-radius: 50%;
}

.centerQuestionBoxLeft > span {
    align-self: flex-end;
    padding: 0.5vh 1vw 0 1vw;
    margin: auto auto 5vh auto;

    color: grey;

    border-top: solid 2px black;
}

.centerQuestionBoxMiddle {
    display: flex;
    flex-flow: column;
    padding: 0;
}

.centerQuestionBoxMiddleTop {
    background-color: #dff3fd;
    height: 20vh;
    width: 100%;
    padding-left: 2vw;
    color: #0266b3;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

.centerQuestionBoxMiddleTop > span > span {
    color: black;
}

.itallic {
    font-style: italic;
}

.centerQuestionBoxMiddleBottom {
    background-color: white;
    height: 100%;
    width: 100%;
}

.centerQuestionBoxMiddleBottom > ul {
    display: flex;
    flex-flow: row-reverse;
    font-size: 1vw;

}

.centerQuestionBoxRight {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-flow: column-reverse;
    background-color: white;
    padding-left: 2vw;
}

.centerQuestionBoxRight  div {
    font-size: 1.3vh;
    margin: 4vh 0;
}

.centerQuestionBoxRight > div > span:nth-child(2) {

    font-style: italic;
}

.answearPost {

    margin: 7vh 0 0 2vw;

    background-color: lightgrey;
    min-height: 22vh;
    min-width: 9vw;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-content: stretch;
}

.answearSum {

    margin: 7vh 0 0 2vw;

    min-height: 22vh;
    min-width: 9vw;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-content: stretch;
    align-items: center;
}

.answearPost a {
    display: flex;
}

.answearPost a img {
    margin: 1vh auto 10vh auto;
    max-height: 7.5vh;
    width: 7.5vh;
    align-self: center;
    font-size: 1em;

    border-radius: 50%;
}


.showTypeStyle {
    padding: 1vh 0 0 0;
    margin: auto auto 4vh auto;
    border-top: solid 2px;
    align-self: center;
}

.alignCenterLenght {
    margin:  3vh auto 0;
    display: flex;
    font-size: 4vh;
}

.showMoreStyle {
    align-self: flex-end;
    margin: 0 auto;
    font-size: 2vh;
    font-style: italic;
    text-align: center;
}