
.centerQuestionBox {
    display: flex;

    height: 40vh;

    margin-bottom: 4vh;

    background-color: grey;
}

.centerQuestionBoxLeft {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: #dff3fd;

    font-size: 1vw;
}

.centerQuestionBoxLeft div {
    align-self: flex-start;

    margin: 2vh auto;
}

.centerQuestionBoxLeft  div img {
    max-height: 7.5vh;
    width: 7.8vh;
}

.centerQuestionBoxLeft > span {
    align-self: flex-end;
    padding: 0.5vh 1vw 0 1vw;
    margin: auto auto 5vh auto;

    color: grey;

    border-top: solid 2px black;
}

.centerQuestionBoxMiddle {
    display: flex;
    flex-flow: column;
    padding: 0;
}

.centerQuestionBoxMiddleTop {
    background-color: #dff3fd;
    height: 15vh;
    width: 100%;
    padding-left: 2vw;
    color: #0266b3;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

.centerQuestionBoxMiddleTop > span > span {
    color: black;
}

.itallic {
    font-style: italic;
}

.centerQuestionBoxMiddleBottom {
    background-color: white;
    height: 100%;
    width: 100%;
}

.centerQuestionBoxMiddleBottom > ul {
    display: flex;
    flex-flow: row-reverse;
    font-size: 1vw;

}

.centerQuestionBoxRight {
    display: flex;
    align-items: center;
    flex-flow: column-reverse;
    background-color: white;
}

.centerQuestionBoxRight  span {
    padding-bottom: 3vh;
}

.answearPost {

    margin: 7vh 0 0 2vw;

    background-color: lightgrey;
    min-height: 22vh;
    min-width: 9vw;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-content: stretch;
}

.answearPost > img {
    padding: 1vh auto 10vh auto;
    max-height: 7.5vh;
    width: 7.8vh;
    align-self: center;
    font-size: 1em;
}


.answearPost > div:nth-child(2) {
    padding: 1vh 0 0 0;



    border-top: solid 2px;

    align-self: center;
}

.alignCenterLenght {
    align-self: center;
}